################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeliveryService.App/obj
/DeliveryService.Domain/obj
/DeliveryService.Domain.Tests/bin
/DeliveryService.Domain.Tests/obj
